@font-face {
    font-family: 'YunChorokwoosanEoriniMinguk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaMinGuk.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BonmyeongjoSourceHanSerif';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}


*{
    margin : 0px;
    padding: 0px;
}

body{
    background-color: rgb(34, 34, 34);
}

#mainContents{
    width: 1080px;
    margin: 0 auto;
    background-image: url(img/base.png);
}

.row{
    width: 100%;
    display:flex;
}

.row0{
    width: 100%;
    display:flex;
    justify-content: center;
}

.col1{width: 8.3%; padding:0.2rem;}
.col2{width: 16.6%; padding: 0.2rem;}
.col3{width: 24.9%; padding: 0.2rem;}
.col4{width: 33.2%; padding: 0.2rem;}
.col5{width: 41.5%; padding: 0.2rem;}
.col6{width: 49.8%; padding: 0.2rem;}
.col7{width: 58.1%; padding: 0.2rem;}
.col8{width: 66.4%; padding: 0.2rem;}
.col9{width: 74.7%; padding: 0.2rem;}
.col10{width: 83%; padding: 0.2rem;}
.col11{width: 91.3%; padding: 0.2rem;}
.col12{width: 100%; padding: 0.2rem;}

.h-10{height:10px;}
.h-80{height:80px;}
.h-20{height:20px;}
.h-40{height:40px;}
.h-50{height:50px;}
.h-100{height:100px;}
.h-250{height:250px;}


.bg{ background-color: aqua;}

.text-center{text-align: center;}
.text-justify{text-align:justify;}
.text-end{text-align:end;}
.text-left{text-align:left;}

.text-gray{color: rgb(51, 51, 51);}

.text-mainTitle{
    font-family:'YunChorokwoosanEoriniMinguk';
    font-weight:500;
    font-size: 4.5rem;
}

.text-subTitle{
    font-family:'YunChorokwoosanEoriniMinguk';
    font-weight:200;
    font-size: 2.5rem;
}

.text-subTitle2{
    font-family:'YunChorokwoosanEoriniMinguk';
    font-weight:50;
    font-size: 1rem;
}

.text-subTitle3{
    font-family:'YunChorokwoosanEoriniMinguk';
    font-weight:90;
    font-size: 1.5rem;
}

.text-normal{
    font-family:'BonmyeongjoSourceHanSerif';
    font-weight: normal;
    font-size: 1rem;
}

.text-norma2{
    font-family:'BonmyeongjoSourceHanSerif';
    font-weight:bold;
    font-size: 1rem;
}